@import "./fonts";

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  padding: 0 20px;
}

.flex-container {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  text-transform: uppercase;
  color: #fff;
  background: #57a4ff;
  padding: 16px 22px;
  border: solid 1px #012c7b;
  border-radius: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  transition-property: 
    background,
    color;
  transition: 0.3s linear;
}

.btn:hover {
  color: #012c7b;
  background: #dee4f1;
  transition-property: 
    background,
    color;
  transition: 0.3s linear;
}

/* START header*/
.header {
  background-color: #dee4f1;
}

.header-navigation-wrapper {
  padding-top: 14px;
  padding-bottom: 14px;
  justify-content: space-between;
  align-items: center;
}

.header-nav-menu-list {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-top: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
}

.menu-list-item-link {
  color: #012c7b;
  position: relative;
}

.menu-list-item-link::before {
  content: " ";
  position: absolute;
  width: 102%;
  left: 0;
  bottom: 0;
  opacity: 0;
  border-bottom: solid 2px #012c7b;
  transition: opacity 0.3s linear;
}

.menu-list-item:hover .menu-list-item-link::before {
  color: #012c7b;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.menu-list-item-link:focus {
  color: #012c7b;
  outline: none;
  text-decoration: none;
}

.site-logo._visible {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu-icon-open._visible {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.site-logo img {
  width: 30px;
}

.site-logo-text {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: #57a4ff;
  display: none;
}

/* start burger menu */
.menu-icon-open {
  display: block;
  position: relative;
  width: 24px;
  height: 20px;
  cursor: pointer;
}

.menu-icon-open::before,
.menu-icon-open::after {
  content: "";
}

.menu-icon-open span,
.menu-icon-open::before,
.menu-icon-open::after {
  right: 0;
  position: absolute;
  height: 3px;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #7d9ef5;
  border-radius: 2px;
}

.menu-icon-open span {
  width: 100%;
}

.menu-icon-open::before {
  top: 8px;
  width: 75%;
}

.menu-icon-open::after {
  bottom: 0;
  width: 50%;
}

.menu-body {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(189, 209, 240, 1) 0%, rgb(87 164 255) 100%);
  padding: 14px 20px;
  flex-direction: column;
  transition: top 0.3s ease 0s;
  overflow: auto;
}

.menu-body._active {
  top: 0;
}

.menu-button-close-wrapper {
  position: absolute;
  top: 16px;
  right: 8px;
  padding: 12px;
  cursor: pointer;
}

.menu-button-close {
  display: block;
  width: 24px;
  height: 1px;
  position: relative;
  background-color: #000;
  transform: rotate(45deg);
}

.menu-button-close::after {
  content: " ";
  position: absolute;
  top: 0;
  width: 24px;
  height: 1px;
  background-color: #000;
  transform: rotate(-90deg);
}
/* end burger menu */
/* FINISH header*/

/* START hero section*/
.hero-section {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../images/hero-section/background.jpg') center/cover no-repeat;
  padding-bottom: 20px;
}

.section-hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  text-align: center;
  padding-top: 20px;
}

.section-hero-title {
  color: #57a4ff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
}

.section-hero-text,
.section-hero-text-visible {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.section-hero-text-visible {
  display: none;
}
/* FINISH hero section*/

/* Lightbox popup */
.lightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 31, 74, 0.40);
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  transition: opacity 200ms linear;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox .popup-form {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 38px 32px;
  transform: scale(0.9);
  transition: transform 200ms ease-in-out;
  flex-wrap: wrap;
  width: 100%;
  max-width: 722px;
  height: 100%;
  max-height: 680px;
  border-radius: 48px;
  overflow-y: auto;
  -ms-overflow-style: none;  /* hidden scrollbarIE и Edge */
  scrollbar-width: none;  /* hidden scrollbar Firefox */
}

/* hidden scrollbar Chrome, Safari и Opera */
.popup-form::-webkit-scrollbar {
  display: none;
}

.popup-form .form-inputs-wrapper {
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.popup-form-btn {
  padding: 18px 44px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.popup-form-title {
  color: #012c7b;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
}

.popup-form-text {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  color: #110f0f;
  text-align: center;
}

.privacy-policy-link {
  color: #012c7b;
  text-decoration: underline;
}

.lightbox.is-open .popup-form {
  transform: scale(1);
}

.popup-button {
  position: absolute;
  top: 18px;
  right: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.popup-button:hover,
.popup-button:focus {
 border: 1px solid var(--primary-main-color-lighter);
}

/* FINISH Lightbox popup */

/*CONTACTS FORM*/
.contacts-section-form {
  background-color: #dee4f1;
}

.contacts-section-form-input {
  padding: 10px 16px;
  width: 100%;
  color: #012c7b;
  border-radius: 16px;
  border: none;
  border: 2px solid #012c7b;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.contacts-section-form-input::placeholder {
  color: #012c7b;
}

@media (min-width: 768px) {
  .header-nav-menu-list {
    font-size: 32px;
    line-height: 32px;
  }

  .hero-section {
    padding-bottom: 40px;
  }

  .section-hero-content-wrapper {
    gap: 40px;
  }

  .section-hero-title {
    font-size: 60px;
    line-height: 68px;
  }

  .lightbox .popup-form {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .btn {
    padding: 20px 30px;
  }

  .site-logo {
    display: flex;
    align-items: flex-end;
    gap: 8px;
  }

  .site-logo-text {
    display: block;
  }

  .menu-body {
    position: static;
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
    flex-direction: row;
    overflow: visible;
    transition: none;
  }

  .header-nav-menu-list {
    padding-top: 0;
    font-size: 16px;
    line-height: 16px;
    flex-direction: row;
    gap: 50px;
  }

  .menu-icon-open,
  .site-logo-burger,
  .menu-button-close-wrapper {
    display: none;
  }

  .section-hero-content-wrapper {
    align-items: flex-start;
    text-align: left;
    gap: 12px;
    padding-top: 40px;
  }

  .section-hero-text {
    font-size: 22px;
  }

  .section-hero-text-visible {
    display: block;
    font-size: 16px;
    line-height: 22px;
    max-width: 552px;
  }

  .popup-form .form-inputs-wrapper {
    gap: 18px;
  }

  .popup-form .popup-form-btn {
    padding: 18px 58px;
  }

  .contacts-section-form-input {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .section-hero-title {
    font-size: 76px;
    line-height: 86px;
  }

  .section-hero-text {
    font-size: 30px;
    line-height: 30px;
  }

  .section-hero-text-visible {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    max-width: 690px;
  }

  .request-call-btn {
    margin-top: 60px;
  }
}

@media (min-width: 2560px) {
  .hero-section {
    background-position-y: 70%;
  }
}